ServiceManager/schedule_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scheduling-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scheduling">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="serviceName" type="xs:string"/>              
              <xs:element name="serviceExe" type="xs:string" />
              <xs:element name="privatePath" type="xs:string"/>
              <xs:element name="SchedulerName" type="xs:string"/>
              <xs:element name="SchedulerPort" type="xs:int"/>
              <xs:element name="LogPort"  type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>